.legendPanel{
    background-color: rgba(240, 240, 240, 0.9);
    border: 1px solid lightgray;
    border-radius: 15px;
    position: relative;

    -webkit-box-shadow: 3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

    -webkit-transition: height 0.1s;
    -moz-transition: height 0.1s;
    transition: height 0.1s;
}

.analysisControl{
    border-radius: 5px;
    margin-bottom: 10px;
    height: 28px;
}

@sprite .close {
    gwt-image:'closeNormal';
    outline: none;
    background-repeat:no-repeat;
    border: 0;
    cursor: pointer;
    float: right;
    margin: 2px 8px 2px 5px;
}

@sprite .close:hover {
    gwt-image:'closeHovered';
}

@sprite .close:active:hover {
    gwt-image: 'closeClicked';
}

@sprite .forward {
    gwt-image:'forwardNormal';
    outline: none;
    background-repeat:no-repeat;
    border: 0;
    cursor: pointer;
    float: left;
    margin: 2px;
}

@sprite .forward:hover {
    gwt-image:'forwardHovered';
}

@sprite .forward:disabled, .forward:disabled:hover, .forward:disabled:active {
    gwt-image:'forwardDisabled';
    cursor: auto;
}

@sprite .forward:enabled:active:hover {
    margin-left: 3px;
    margin-right: 1px;
    gwt-image: 'forwardClicked';
}

@sprite .play {
    gwt-image:'playNormal';
    outline: none;
    background-repeat:no-repeat;
    border: 0;
    cursor: pointer;
    float: left;
    margin: 2px;
}

@sprite .play:hover {
    gwt-image:'playHovered';
}

@sprite .play:enabled:active:hover {
    margin-left: 3px;
    margin-right: 1px;
    gwt-image: 'playClicked';
}

@sprite .pause {
    gwt-image:'pauseNormal';
    outline: none;
    background-repeat:no-repeat;
    border: 0;
    cursor: pointer;
    float: left;
    margin: 2px;
}

@sprite .pause:hover {
    gwt-image:'pauseHovered';
}

@sprite .pause:enabled:active:hover {
    margin-left: 3px;
    margin-right: 1px;
    gwt-image: 'pauseClicked';
}

@sprite .rewind {
    gwt-image:'rewindNormal';
    outline: none;
    background-repeat:no-repeat;
    border: 0;
    cursor: pointer;
    float: left;
    margin: 2px;
}

@sprite .rewind:hover {
    gwt-image:'rewindHovered';
}

@sprite .rewind:disabled, .rewind:disabled:hover, .rewind:disabled:active  {
    gwt-image:'rewindDisabled';
    cursor: auto;
}

@sprite .rewind:enabled:active:hover {
    margin-left: 3px;
    margin-right: 1px;
    gwt-image: 'rewindClicked';
}

.speed {
    border: 0 none;
    color: transparent;
    float: left;
    margin: 2px;
    height: 24px;
    width: 24px;
    outline: none;
}

.enrichmentLegend {
    width: 50px;
    height: 250px;
    top: 25px; /*centers in the middle*/
    overflow: visible !important;
    float: left;
    margin-right: 10px;
}

.enrichmentLegend canvas {
    outline: none;
}

.enrichmentLegend span {
    width: 49px;
    text-align: center;
}

.enrichmentControl {
    /*centers in the middle*/
    width: 390px;
    margin-left: -195px; /* width and margin-left are related, please change both if needed */
    left:50%;
}

.enrichmentControl span {
    margin: 6px 0 0 20px;
    float: left;
    font-size: 12px;
}

.enrichmentControl select {
    border: none;
    margin: 5px 0 0 5px;
    outline: none;
    font-size: 12px;
}

.expressionLegend {
    width: 50px;
    height: 280px;
    top: 10px;     /*centers in the middle*/
    overflow: visible !important;
    float: left;
    margin-right: 10px;
}

.expressionControl {
    /*centers in the middle*/
    width: 400px;
    margin-left:-200px; /* width and margin-left are related, please change both if needed */
    left:50%;
}

.expressionControl span {
    margin: 5px 0 0 20px;
    float: left;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    max-width: 205px;
}

.expressionControl canvas {
    outline: none;
}

.slide {
    border: 0 none; /* solid lightgray;*/
    color: transparent;
    margin-top: 2px;
    position: absolute;
    left: 116px;
    background-color: #E6E6E6;
    border-radius: 5px;
    outline: none;
}

.flaggedItemsControl {
    /*centers in the middle*/
    width: 374px;
    margin-left:-187px; /* width and margin-left are related, please change both if needed */
    left:50%;
    line-height: 30px;
}

.flaggedItemsControl span {
    margin: 0 0 0 14px;
    float: left;
    font-size: 12px;
}

.flaggedItemsControl select {
    vertical-align: text-bottom;
    border: none;
    margin: 5px 0 0 5px;
    outline: none;
    font-size: 12px;
    width: 73px;
    height: unset;
    -webkit-appearance: menulist;
}

.flaggedItemsLabel {
    width: 160px !important;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.flaggedItemsLoadingIcon {
    float: left;
    margin-left: 5px;
    margin-top: 6px;
}

.filterBtn {
    float: right;
    margin: 2px 5px 2px 4px;
    background-color: #58C3E5;
    border: none;
    outline: none;
    border-radius: 12px;
    color: white;
    padding: 0;
    border: 0;
}

.filterBtn>div {
    margin: 0;
    position: relative;
}

.filterBtn span {
    display: none;
}

.filterBtn img {
    display: block;
    height: 24px;
    width: auto;
    margin: 0;
    padding: 0;
    border: 0;

    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
}

.filterBtn:hover {
    background-color: #1E95CF;
    cursor: pointer !important;
}

.filterBtn:active:hover {
    background-color: #066B9E;
    cursor: pointer !important;
}

.filterBtn:disabled, .filterBtn:disabled:hover, .filterBtn:disabled:active{
    background-color: #9a9c9e;
    cursor: default !important;
}

.infoPanel {
    padding: 2px;
    margin-top: 6px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.infoPanelTitle {
    font-size: smaller;
    color: #1E95CF;
}

.infoPanelTag {
    background-color: #1E95CF;
    color: white;
    border-radius: 10px;
    padding: 0 6px 0 6px;
    margin: 2px 0 2px 0;
    cursor: default;
    line-height: normal;
}